.tarjetaAvisos {
    width: 90%;
    align-content: center;
    margin: auto 5%;
    padding: 4%;
    opacity: 0.8;
   background-color:bisque;
   border-radius: 8%;
   font-size: 1.1rem;
   position: relative;
}
@media (max-width:700px) {
    .tarjetaAvisos{
        width: 100%;
        margin: 2% 0;
    }
}